{% extends 'modelo.html' %}

{% block conteudo %}
    <!--Título-->
    <div class="d-flex flex-column align-items-center mx-auto mt-3">
        <div class="container-fluid text-center my-3">
            <h1 class="dsplay-1 text-center">Área dos Administradores</h1>
        </div>
        {% if not vagas %}
            <h1 style="color: #2A494D" class="text-center my-5">Não há vagas abertas no momento</h1>
        {% else %}
            <div class="container-fluid text-center w-100">
                <div class="row d-flex justify-content-center g-2">
                    {% for vaga in vagas %}
                    <div class="col-10 col-xl-4 mx-auto d-flex flex-column align-items-center" style="max-width: 100vw;">

                        <div class="card mb-3" style="max-width: 700px; min-width: 400px;">
                            <div class="row g-0">
                                <div class="col-md-5">
                                <img src="../../static/img/img_vagas/{{vaga['img']}}" class="img-fluid d-flex justify-content-center rounded-start h-100" alt="{{vaga['cargo']}}">
                                </div>
                                <div class="col-md-7">
                                <div class="card-body">
                                    {% for invalido in invalidos%}
                                        {% if vaga == invalido %}
                                            <h4 style="color:#2A494D">Expirada</h4>
                                        {% endif %}
                                    {% endfor %}
                                    <h5 class="card-title">{{vaga['cargo']}}</h5>
                                    <p class="card-text"><small class="text-body-secondary">{{vaga['setor']}}</small></p>
                                    <p class="card-title fs-5">{{vaga['modalidade']}} - {{vaga['local']}}</p>
                                    <!-- {% if vaga['valido'] == 0 %}
                                        <p style="color: #2A494D;" class="card-text">Expirada</p>
                                    {% endif %} -->
                                    <a href="/chamar_edit/{{vaga['id']}}"><i class="bi bi-pencil-square fs-3"></i></a>
                                    <a href="/ver_pdf/{{vaga['id']}}"><i class="bi bi-file-earmark-person mx-5 fs-3"></i></a>
                                    <a href="/excluir/{{vaga['id']}}" onclick="return confirm('Você tem certeza de que deseja remover essa vaga?')"><i class="bi bi-trash3 fs-3"></i></a>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="container text-center">
                <button type="button" onclick="window.location.href='/cadvagas'" style="background-color: #2A494D;" class="btn btn-lg text-light mx-5 my-1">Cadastrar</button>
                <button type="button" onclick="window.location.href='/logoff'" class="btn btn-lg btn-danger mx-5 my-1">Sair</button>
            </div>
        </div>
    </div>
{% endblock %}