{% extends 'modelo.html' %}
{% block conteudo %}
    <div class="d-flex flex-column align-items-center mt-1">
        <div class="container-fluid text-center my-1">
            <h1 class="display-5 text-center">Visualização de currículos</h1>
        </div>
        {% if not pdf_files %}
            <h1 style="color: #2A494D" class="text-center my-5">Nenhum currículo foi enviado até o momento</h1>
        {% else %}
                <div class="w-100 rounded">
                    <div style="background-color: #00F5FF" class="container-fluid p-1">
                        <h1 class="text-center">{{nome_vaga}}</h1>
                    </div>
                    <div class="container">
                        <ul>
                            {% for pdf in pdf_files%}
                                <li class="d-flex justify-content-between mx-1">
                                    <a target="_blank" href="../../static/pdf/{{nome_vaga}}/{{pdf}}"><p>{{pdf}}</p></a>
                                    <a href="/excluir_pdf/{{id}}/{{nome_vaga}}/{{pdf}}" onclick="return confirm('Você tem certeza de que deseja apagar esse currículo?')"><i class="bi bi-trash3"></i></a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
        </div>
{% endblock %}